.title {
  font-size: 18px;
  margin: 0;
}

.ulStyles {
  font-size: 14px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.liStyles {
  margin: 0 9px;
}

.liStyles:hover {
  cursor: pointer;
  color: #84cef1;
}
